@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 800px;
    width: auto;
    object-fit: cover;
}

.carousel .thumbs-wrapper {
    text-align: center;
}

.carousel .thumb {
    width: 130px !important;
}

.featured-section{
    background-image: url(./assets/home/featured.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.react-parallax img {
    object-fit: cover;
}